*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(1, 21, 32);
}

.header{
    /* position: fixed; */
    background: transparent;
    top: 0;
    left: 0;
    padding: 2px 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}

.Logo{
    font-size: 30px;
    font-family: cursive;
    color: #ededed;
    font-weight: 800;
    position: relative;
    margin-right: 20px;
    z-index: 1;
}

.icon{
    height: 70px;
    width: 76px;
    position: relative;
}

.navbar a{
    font-size: 19px;
    color: #ededed;
    margin: 15px;
    text-shadow: 2px 2px 5px rgb(51, 241, 169);
    font-weight: 400;
    
}

.navbar a:hover, .navbar a.active{
    color: #00abf0;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center; 
    position: relative;
    padding: 30% 10%;
}


.home-content{
    background-color: rgba(17, 145, 177, 0.41);
    max-width: 550px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px  15px rgb(255, 255, 255);
    opacity: 0.7;
    color: white;
}

.home-content h1{
    font-family: cursive;
    font-size: 30px;
    letter-spacing: 0.3px;
}

.home-content h3{
    color: rgb(196, 170, 25);
    font-size: 25px;
    font-weight: 700;
}

.home-content p{
    font-size: 18px;
    font-weight: 60;
    margin: 20px 0 20px;
    line-height: 1.2;
    letter-spacing: 0.3px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 330px;
    height: 30px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    width: 130px;
    height: 100%;
    color: #06abf0;;
    background-color: rgb(55, 61, 58);
    border: 2px solid #00abf0;
    border-radius: 6px;
    font-size: 22px;
    justify-content: center;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transform: .5s;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: rgb(103, 117, 110);
}

.btn-box a:nth-child(2)::bafore{
    background: red;
}

.btn-box a:nth-child(2):hover{
    color: #00abf0;
}


.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(1, 21, 32); 
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover {
    color: rgb(103, 117, 110);
}

.btn-box a:hover::before{
    width: 100%;
    background-color:black ;
}

.profile{
    max-height: 600px;
    max-width: 700px;
    height: 300px;
    width: 390px;
    border-radius: 0px 100px 0px 100px;
    margin-left: 20%;
    margin-bottom: 10%;
    box-shadow: 4px 4px 20px  rgb(211, 228, 113);
   
}

#flex{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    margin-left: 6%;
    position: relative;
}

.box{
    background-color: #ededed;
    height: 300px;
    width: 400px;
    /* grid-gap: 10px; */
    grid-auto-rows: minmax(100px);
    grid-row-gap: 1em;
    border: 15px solid rgb(1, 21, 32);

}

.box:nth-child(1){
    background-color: red;
    background-image: url(Jamuna\ Future\ Park.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
}
    

.box:nth-child(2){
    background-color: yellowgreen;
    background-image: url(Kacchi\ vai.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50%;
    height: 500px;
    width: 430px;
}


.box:nth-child(3){
    background-color: rgb(196, 170, 25);
    background-image: url(IMG_3740.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 430px;
}

.box:nth-child(4){
    background-color: rgb(43, 21, 238);
    background-image: url(jamuna\ inside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 430px;
}
.box:nth-child(5){
    background-color: rgb(17, 211, 211);
    background-color: red;
    background-image: url(group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box:nth-child(6){
    background-color: rgb(153, 27, 147);
    background-image: url(LMC_20230917_210641479_\'.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 430px;
}

.box:nth-child(7){
    background-color: rgb(212, 102, 11);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 20px white;
    background-image: url(Tasnim.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.box:nth-child(8){
    color: white;
    text-align: center;
    font-family: cursive,sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 0px  grey;
    padding: 25px;
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    height: 300px;
    width: 360px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px red;
    opacity: 0.8;
    margin-left: 23px;
}

.box:nth-child(9){
    /* background-color: black; */
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 20px white;
    box-shadow: 0px 0px 20px white;
    background-image: url(light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}































